@charset "UTF-8";

body{background-color:#CCFFCC;}

h1{
	text-align:left;
	text-decoration: none;
}
h2{
	text-align:center;
	margin-left:190px;
}
.yu{
	margin-right:20px;
	margin-top:0;
}
#yuza{
	font-size:smaller;
	height: 20px;
	float:right;
}
#ken{
	float:left;
	margin-left:100px;
	font-size:20px;
}
.border1{
	border:1px solid #33CC00;
	padding:20px;
	margin: 0 100px;
}
.kensaku{
	text-align:center;
	margin:0;
	padding:0;
	padding:30px;
}

#input_text{margin:10px 50px;}
.border2{margin:0 165px;}
.touroku{float:right;}
.tbe{
	text-align:center;
	width:1024px;
	height:30px;
	background-color:#E6FFE9;
}


th{
	background-color:#AEFFBD;
	height:30px;
}
td{height:30px;}
table {text-align:center;}

#intext{text-align:center;}
.square_btn {
	clear: both;
	width: 300px;
	height: 30px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #00bcd4;
    transition: .4s;
}
.square_btn:hover { background: #1ec7bb;}

.square_btn2 {
	clear: both;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #00bcd4;
    transition: .4s;
}

.square_btn2:hover { background: #1ec7bb;}

.wf-nikukyu { font-family: "Nikukyu"; }

.wf-kokoro { font-family: "Kokoro"; }
